
/* background imge */
#first-container{
    height:750px;
    width:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('https://s3-alpha-sig.figma.com/img/e4e9/4bcd/6013879f33e24c0450bcde15d215f8ae?Expires=1728259200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=YLDvB8QQzl8bqKe9IIu6dmCHhQIWwuPaS08PWF-6XA1VF3CiFaM93tN69Z47qlR0hrMMcxuZzXilkyGXxIm1Z1-iiYVvnUYCIDv6uloHdh1OcGQS5qUAU~1hWLtbkyClLvtpnN404PAenBCwZSqwZaetJ3jqP4-qBGX7ZlyXH~lR7exquKPSeyRmAaPfTPdVUHofY~hfvjVP0XauTs1RaE71suphnt5TTqBjj40gz977SpKIpvNwXfCAQ6pRB97BoZV0qQ4vP087VzAgSqh8-yNJ2d0wkhIAQcQJjVoal164sWr1Xu~gCb5-eI~z68T52DrZHOJ~ltmk3GaCC3M5pg__');
}

/* navbar css */
#navbar{
    height:50px;
    width:100%;
    display: flex;
    align-items: center;
    margin: auto;
}
.icon-container{
    margin-left: 180px;
   
}
.nav-links {
    display: flex;
    gap: 35px;          
}
.nav-links li {
   list-style-type: none;
   color:  #05073C;
   font-size: 14px;
   font-weight: 400;
   font-family: sans-serif;
}
.second-nav_links{
    margin-left: 65px;
}
.nav-links2{
    display: flex;
    gap: 20px;
  
}
.nav-links2 li{
    list-style-type: none;
    color:  #05073C;
   font-size: 14px;
   font-weight: 400;
   font-family: sans-serif;
}
.button-div{
    margin-left: 50px;
}
.login-button{
    width:80px;
    height:40px;
    border:1px solid #05073C;
    color:#05073C;
    font-family: sans-serif;
    font-size: 16px;
    background-color: #FEF8F5;
    border-radius: 50px;
}


/* text heading */
.text-container{
    height:100px;
    margin: auto;
}
.heading{
    text-align: center;
    font-size: 55px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 60px;
    background: linear-gradient(to right, #ff7f48, #4C43C4);
    background-clip: text;
    -webkit-background-clip: text;
     color: transparent;
}



/* destination container css */
.destination-div{
    height:60px;
    width:58%;
    margin: auto;
    margin-top: 60px;
    background-color: #ffffff;
    display: flex;;
    align-items: center;
    padding:5px;
    gap:20px;
    border-radius: 50px;
}
.inner_destination-div{
    display: flex;
    gap:10px;
    align-items: center;
}
.circle_white{
   height:50px;
   width:50px;
   border-radius: 100px;
   background-color: #FEF8F5;
}
.text-div{
    line-height: 10px;
}
span{
    color: #05073C;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 500;

}
p{
    color: #717171;
    font-weight: 14px;
    font-family: sans-serif;
    font-weight: 500;
}
.oragne{
    height:50px;
    width:50px;
    border-radius: 100px;
    background-color: #EB662B;
    margin-left: 45px;
}


/* second container css. starts */
.second-container{
    height:500px;
    width:85%;
    margin: auto;
    margin-top: 100px;
}
.textContainer2{
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}
.popular{
    font-family: sans-serif;

}
.see{
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 400;
}
.image-container{
  height: 400px;
  width:100%;
  display: flex;
 margin-top: 20px;
 gap:20px;
}

.big-img-container{
height:100%;
width:31%;
}
.small-img-container{
width:69%;
height:100%;
}

.small-img-container{
display: flex;
flex-direction: column;
gap:10px;
}
.first_small_container{
height: 100%;
width:100%;
display: flex;
gap:10px;
}
.first_div{
height:100%;
width:35%;
border-radius: 5px;
}
.second_div{
height:100%;
width:65%;
border-radius: 5px;
}

.second_small_container{
height: 100%;
width:100%;
}
.second_small_container{
display: flex;
gap:20px;
}


/* third container css starts */
.third-container{

width: 70%;
height: 300px;
margin: auto;
margin-top: 100px;

}
.third-Innercontainer{
display: flex;
gap:10px;
height: 230px;
margin: auto;
}
.new-div{
height:100%;
width:280px;
}
.icon-div{
margin-top: 20px;
}
.para1{
font-size: 18px;
font-weight: 550;
color: #000000;
font-family: sans-serif;
}
.para2{
font-size: 16px;
font-weight: 500;
color: #000000;
font-family: sans-serif;
}

